html, body, div, h1, h2, h3, h4, h5, h6, p, a, em, img, ul, li, footer, header {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
	cursor: crosshair;
}

@font-face {
	font-family: ag;
	src: url(fonts/sans.otf);
}

.aside {
	left: -20.2em;
  height: 100%;
  position: fixed;
  width: 20.2em;
	z-index: -1;
}

.aside * {
	margin: 10px 32px;
}

.aside > :first-child {
	padding-top: 40px;
}

.aside h2 {
	padding: 20px 0px;
	font-weight: 700;
	font-size: 40px;
}

.aside p {
	
}

.dma {
	background-color: #295c5d;
}

.dma a {
	color: #295c5d;
}

.uas {
	background-color: #742b3c;
}

.uas a {
	color: #742b3c;
}

.ar {
	background-color: #F26B6A;
}

.ar a {
	color: #F26B6A;
}

.nine {
	background-color: #d59823;
}

.nine a {
	color: #d59823;
}

body {
	line-height: 1;
  font: 20px/1 ag, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  color: #FFF;
  background: #222;
	cursor: crosshair;
}

.main {
	padding: 50px 0px 0px 80px;
	width: 16.4em;
  position: fixed;
	/*overflow: hidden;*/
  z-index: -2;
	cursor: crosshair;
}

h1 {
	font-style: italic;
	font-weight: 600;
	font-size: 24px;
	margin-bottom: 0.2em;
	cursor: crosshair;
}

h1 a,
h1 a:hover,
h1 a:active,
h1 a:focus {
	text-decoration: none;
	background: #FFF;
	cursor: crosshair;
	padding-right: 0.4em;
}

p {
	line-height: 1.2em;
	margin-bottom: 0.7em;
	cursor: crosshair;
}

a {
	text-decoration: none;
	background: #FFF;
	color: #222;
	padding-left: 0.2em;
	padding-right: 0.2em;
}

a:hover {
	text-decoration: none;
	background: #f46fa8;
	cursor: crosshair;
}

a:active,
a:focus {
	text-decoration: none;
	cursor: crosshair;
}

@media screen and (max-width: 500px), screen and (max-device-width: 500px) {
  .main {
    /*font-size: 18px;*/
    padding: 20px 0px 0px 20px;
	}
	.aside {
		width: 17.6em;
	}
	/*h1 {
		font-size: 19px;
	}*/
}

/*
@media screen and (max-width: 320px), screen and (max-device-width: 320px) {
  .main {
    font-size: 15px;
    padding: 12px 0px 0px 12px;
	}
	h1 {
		font-size: 17px;
	}
}
*/