.image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: url(https://avatars1.githubusercontent.com/u/8772030?v=3&s=250);
  background-position: center center;
}

h1 {
  
}

.container:nth-child(2) {
  margin-top: 120px;
}

.container:nth-child(2) .col-md-5 {
  margin-left: -10px;
}
