.image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: url(https://avatars1.githubusercontent.com/u/8772030?v=3&s=250);
  background-position: center center;
  margin-top: -10px;
  margin-left: -40px;
}

.image:hover {
  background-image: url(https://41.media.tumblr.com/ef47b491d68e2391b47779b7a801c09d/tumblr_niki18Qyk71rnvo4ho1_250.png);
}

h1 {
  font-size: 44px;
  font-weight: bold;
  color: #FFF;
  background-color: #FF0066;
  line-height: 60px;
  padding-left: 10px;
  margin-right: 30px;
  margin-bottom: 20px;
}

h2 {
  display: inline;
  line-height: 110%;
}

h2 a {
  color: #FF0066;
}

h2 a:hover {
  color: #FFF;
  background-color: #FF0066;
  text-decoration: none;
}

.container:nth-child(2) {
  margin-top: 140px;
}
