h1 {
  font-size: 70px;
  font-weight: bold;
  color: #FFF;
  background-color: #FF0066;
  line-height: 48px;
  padding-left: 20px;
}

h2 {
  font-size: 36px;
  color: #FF0066;
}

.container:nth-child(3) {
  margin-top: -10px;
}
