h1 {
  font-size: 72px;
  font-weight: bold;
  color: #FFF;
  background-color: #FF0066;
  line-height: 48px;
  padding-left: 30px;
}

h2 {
  font-size: 36px;
  color: #FF0066;
}

h3 {
  line-height: 150%;
}

.container:nth-child(3) {
  margin-top: -20px;
}

.container:nth-child(4) {
  padding-left: 70px;
}
