html {
  overflow-y: scroll;
}

body {
  padding-top: 5%;
  background-image: url(http://41.media.tumblr.com/bf8dfe2e6ff97f506306344fe021504e/tumblr_ndpupoDTro1rnmh3no2_250.png);
}

h1 {
  color: #FFF;
  font-size: 120px;
  font-weight: bold;
  background-color: #12FF73;
  line-height: 75px;
  padding-left: 20px;
  padding-bottom: 5px;
  cursor: default;
}

h2 {
  color: #000;
  font-size: 30px;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 20px;
}

h3 {
  padding-left: 5vw;
  font-size: 36px;
}

h3 a {
    text-decoration: none;
    color: #12FF73;
    background: #FFF;
    padding-left: 1vw;
    padding-right: 1vw;
}

h3 a:hover {
    text-decoration: none;
    color: #000;
    background: #12FF73;
}

h3 a:active,
h3 a:focus {
    text-decoration: none;
}

h3.resume {
  font-weight: bold;
}

h3.resume a {
  padding-top: 1vw;
  margin-left: 5vw;
}

h3.projects {
  font-weight: bold;
}

h4 {
  font-style: italic;
  font-size: 28px;
  padding-left: 7.5vw;
}

h5 {
  font-weight: 300;
  font-size: 24px;
  padding-left: 10vw;
}

p {
  margin-top: 0vw;
  padding-left: 2.5vw;
  padding-bottom: 1vw;
  font-size: 24px;
}

p.projects {
  font-style: italic;
  padding-left: 7vw;
}

li.toggle {
  color: #000;
  font-size: 64px; 
  font-weight: bold;
}

.toggle {
  cursor: pointer; cursor: hand;
}
.toggle:hover {
  color: #12FF73;
}

div.initHidden {
  display: none;
}

.bold {
  font-style: normal;
  font-weight: bold;
}

img {
  margin-left: 15%;
  border: 0;
}

img.circle {
	max-width: 300px;
	border-radius: 50%;
}

@media (max-width:640px) {
	h1 { font-size: 84px; line-height: 54px; padding-left: none; }
	h2 { font-size: 28px; padding-left: none; }
	li.toggle { font-size: 44px; }
	h3 { font-size: 32px; padding-left: none; }
	h4 { padding-left: none; }
	h5 { padding-left: none; }
	p { padding-left: none; }
	p.projects { font-size: 20px; padding-left: none; }
	img.circle { max-width: 240px; }
}
