body {
  padding-top: 70px;
}

navbar-default {
  background-color: #FFF;
  border-color: #FFF;
}

navbar-fixed-top {
  margin-top: 25px;
}

nav a {
  color: #000;
  font-family: 'Slabo 13px';
  font-size: 27px;
  padding: 14px 10px;
  text-transform: lowercase;
}

nav li {
  display: inline;
}
