body {
  padding-top: 50px;
}

.navbar-default {
  height: 40px;
  background-color: #222;
  border-color: #222;
}

.navbar-fixed-top {
  height: 40px;
  margin-top: 0px;
}

nav a {
  height: 40px;
  line-height: 40px;
  padding: 24px 14px;
  
  color: #FFF;
  font-family: 'Slabo 13px';
  font-size: 26px;
  text-transform: lowercase;
}

nav li {
  display: inline;
}
