h1 {
  font-size: 44px;
  font-weight: bold;
  color: #FFF;
  background-color: #FF0066;
  line-height: 30px;
  padding-left: 10px;
}

h1:nth-child(2) {
  margin-top: -6px;
}

h1:nth-child(3) {
  margin-top: -6px;
}

.container:nth-child(2) {
  margin-top: 30px;
}

.container:nth-child(3) {
  margin-top: 30px;
}

.container:nth-child(4) {
  margin-top: 30px;
}

.container:nth-child(5) {
  margin-top: 30px;
  margin-bottom: 48px;
}
